VITE_AEGIS_VERIFY_PATH=/auth/verify
VITE_ARLO_AGENT_URL=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=


VITE_ARLO_WEB_URL=https://arlo.jacobtartabini.com
VITE_MENUBAR_CALLBACK_SCHEME=arlo-menubar
VITE_AEGIS_EXPECTED_AUDIENCE=arlo
VITE_AEGIS_EXPECTED_ISSUER=aegis-auth
VITE_AEGIS_CALLBACK_PATH=/auth/callback
VITE_AEGIS_APP_NAME=arlo
VITE_AEGIS_BASE_URL=
